apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: default
  labels:
    app: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: stress-ng
        image: polinux/stress-ng
        # Try to use 256MB...
        args: ["--vm", "1", "--vm-bytes", "256M", "--timeout", "0"]
        resources:
          # ...but limit to 128MB (Guaranteed Crash)
          limits:
            memory: "128Mi"
          requests:
            memory: "64Mi"